/* Phetsarath-OT Font - commented out to avoid 404 if font file is missing */
/* @font-face {
  font-family: 'Phetsarath-OT';
  src: url('/fonts/Phetsarath-OT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

/* @font-face {
  font-family: 'Phetsarath-OT';
  src: url('/fonts/Phetsarath-OT-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */
