/* Phetsarath-OT Font */
@font-face {
  font-family: 'Phetsarath-OT';
  src: url('~/assets/fonts/Phetsarath-OT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'Phetsarath-OT';
  src: url('~/assets/fonts/Phetsarath-OT-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */
